# Context

#### *What is India VIX*?
*The Volatility Index measures the market's anticipation of volatility in the near term. 
- During moments of market volatility, the market typically moves sharply up or down, and the VIX tends to climb.

- VIX falls as volatility falls. It is not the same as a price index like the NIFTY. 
- The price index is calculated by taking the price movement of the underlying equities into account.

#### *Scope of analysis*?
We will focusing on movment Nifty impacted by IndiaVix rather than focusing on how it is being impacted by option price.

# What questions are we trying to answer?

- Understand relationship between Nifty price behaviour with volatilty index
- Can we categories volatilty behaviours in nifity according to IndiaVix for better decision making
- Can we have guidlines on volatility of nifty in upcomming days by analysing historical data of IndiaVix

# Our approach to get these answers?
Analyse data in two time frames by analysing
1. Analysing last 4 month data as most recent behaviour.
2. Analysis of each financial year and how behaviour changed over the years.
3. Analysis of data from inception to create a base of all time.

---
---
---
---

## Tasks
- Get a reliable OHLC data source of Nifty50 and IndiaVIX data that auto-updates End of the day
- Join IndiaVix and Nifty50 data as df.
-

---
---
---
---

Pre-requiset Libraries

In [1]:
import pandas as pd # type: ignore

# Sourcing Data

Imported data from "investing.com" for educational purposes

In [2]:
df1 = pd.read_csv(r'C:\Users\ALIE-n-WARE\Desktop\IndiaVIXanalysis\Data\India VIX Historical Data.csv')
df1.head()

         Date    Price     Open     High      Low   Vol. Change %
0  08/27/2024  13.6950  12.7100  14.0100  12.7100  0.00K   -0.72%
1  08/26/2024  13.7950  13.5525  13.9925  12.0100    NaN    1.79%
2  08/23/2024  13.5525  13.0000  13.6200  10.8400    NaN    4.25%
3  08/22/2024  13.0000  13.3325  13.7825  10.9575    NaN   -2.49%
4  08/21/2024  13.3325  13.8200  14.0450  11.8225    NaN   -3.53%

In [3]:
df2 = pd.read_csv(r'C:\Users\ALIE-n-WARE\Desktop\IndiaVIXanalysis\Data\Nifty 50 Historical Data.csv')
df2.head()

         Date     Price      Open      High       Low     Vol. Change %
0  01/01/2008  6,144.35  6,136.75  6,165.35  6,109.85   81.31B    0.09%
1  01/02/2008  6,179.40  6,144.70  6,197.00  6,060.85  110.35B    0.57%
2  01/03/2008  6,178.55  6,184.25  6,230.15  6,126.40  156.36B   -0.01%
3  01/04/2008  6,274.30  6,179.10  6,300.05  6,179.10  147.63B    1.55%
4  01/07/2008  6,279.10  6,271.00  6,289.80  6,193.35  139.61B    0.08%

---

# Joining data and renamimng columns

In [4]:
# Convert 'date' columns to datetime if they are not already
df1['Date'] = pd.to_datetime(df1['Date'])
df2['Date'] = pd.to_datetime(df2['Date'])

In [8]:
# Merge DataFrames on 'date'
niftyvix = pd.merge(df1, df2, on='Date', how='inner')

In [9]:
niftyvix = niftyvix.rename(columns={'Price_x': 'nclose', 'Open_x': 'nopen', 'Low_x': 'nlow', 'Change %_x': 'nchange', 'Price_y': 'vclose', 'Open_y': 'vopen', 'High_y': 'vhigh', 'Low_y': 'vlow', 'Change %_y': 'vchange'})

In [10]:
niftyvix.head()

,Date,nclose,nopen,High_x,nlow,Vol._x,nchange,vclose,vopen,vhigh,vlow,Vol._y,vchange
0,2024-08-27,13.6950,12.7100,14.0100,12.7100,0.00K,-0.72%,"25,017.75","25,032.10","25,072.55","24,974.55",223.35K,0.03%
1,2024-08-26,13.7950,13.5525,13.9925,12.0100,NaN,1.79%,"25,010.60","24,906.10","25,043.80","24,874.70",210.27M,0.76%
2,2024-08-23,13.5525,13.0000,13.6200,10.8400,NaN,4.25%,"24,823.15","24,845.40","24,858.40","24,771.65",206.80M,0.05%
3,2024-08-22,13.0000,13.3325,13.7825,10.9575,NaN,-2.49%,"24,811.50","24,863.40","24,867.35","24,784.45",220.35M,0.17%
4,2024-08-21,13.3325,13.8200,14.0450,11.8225,NaN,-3.53%,"24,770.20","24,680.55","24,787.95","24,654.50",257.11M,0.29%

# Feature Engineering