# PreRequisits

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

# Sourcing Data
>Imported data from "investing.com" for educational purposes
#### Making copies of data for data safety

In [2]:
#vix data
data1 = pd.read_csv("Data/India VIX Historical Data.csv")
df1 = data1.copy()
df1.head(2)

         Date  vixPrice  vixOpen  vixHigh  vixLow   Vol. vixChange%
0  08/27/2024    13.695  12.7100  14.0100   12.71  0.00K     -0.72%
1  08/26/2024    13.795  13.5525  13.9925   12.01    NaN      1.79%

In [3]:
# nifty50 data
data2 = pd.read_csv(r'Data/Nifty 50 Historical Data.csv')
df2 = data2.copy()
df2.head(2)

         Date niftyPrice niftyOpen niftyHigh  niftyLow     Vol. niftyChange %
0  01/04/2008   6,274.30  6,179.10  6,300.05  6,179.10  147.63B         1.55%
1  01/07/2008   6,279.10  6,271.00  6,289.80  6,193.35  139.61B         0.08%

In [ ]:
#10-2yield
data3 = pd.read_csv(r'Data/10-2year.csv')
df3 = data3.copy()
df3.head(2)

         DATE T10Y2Y
0  2008-03-04   1.98
1  2008-03-05   2.04

In [5]:
# crudeoil
data4 = pd.read_csv(r'Data/Crudeoil.csv')
df4 = data4.copy()
df4.head(2)

,Date,CrudePrice,CrudeOpen,CrudeHigh,CrudeLow,Vol.,CrudeChange %
0,03/04/2008,99.52,102.35,103.33,98.87,366.72K,-2.86%
1,03/05/2008,104.52,99.88,104.95,99.55,414.31K,5.02%

In [6]:
# gold 
data5 = pd.read_csv(r'Data/Gold.csv')
df5 = data5.copy()
df5.head(2)

         Date GoldPrice  GoldOpen  GoldHigh   GoldLow   Vol. GoldChange %
0  27-08-2024  2,529.30  2,530.50  2,537.70  2,515.40  7.27K       -0.08%
1  26-08-2024  2,531.40  2,522.10  2,538.90  2,520.70  6.08K        0.35%

In [7]:
# usdinr
data6 = pd.read_csv(r'Data/usdinr.csv')
df6 = data6.copy()
df6.head(2)

         Date  inrPrice  inrOpen  inrHigh  inrLow  Vol. inrChange %
0  27-08-2024     83.91   83.865    83.95  83.865   NaN       0.08%
1  26-08-2024     83.84   83.801    83.91  83.776   NaN       0.04%

In [8]:
# dollarindex
data7 = pd.read_csv(r'Data/USdollarindex.csv')
df7 = data7.copy()
df7.head(2)

         Date  diPrice  diOpen  diHigh   diLow  Vol. diChange %
0  27-08-2024   100.55  100.82  100.93  100.51   NaN     -0.30%
1  26-08-2024   100.85  100.68  100.92  100.53   NaN      0.13%

In [9]:
# Rbiinterest rate
data8=pd.read_csv("Data/Rbiinterest.csv")
df8 = data8.copy()
df8.head(2)

         Date  Rbiinterest  Rbi%change
0  2008-06-12          8.0         NaN
1  2008-06-25          8.5        6.25

In [10]:
# Fedinterest rate
data9=pd.read_csv("Data/Fedinterest.csv")
df9 = data9.copy()
df9.head(2)

         Date  Fedinterest  Fed%change
0  2008-06-12          8.0         NaN
1  2008-06-25          8.5        6.25

In [11]:
# USinflation
data10 = pd.read_csv(r'Data/USinflationdata.csv')
df10 = df10.copy()
df10.head(2)

NameError: name 'df10' is not defined

In [26]:
# indiainflation
data11 = pd.read_csv(r'Data/IndiaInflation.csv')
df11 = df11.copy()
df11.head(2)

         Date  Inflation Rate (%)
0  2008-03-01                 7.7
1  2008-04-01                 8.0

---
# Data PreProcessing

# Correcting date format

In [14]:
# Convert 'date' columns to datetime if they are not already
df1['Date'] = pd.to_datetime(df1['Date'])
df2['Date'] = pd.to_datetime(df2['Date'])
df3['Date'] = pd.to_datetime(df3['Date'])
df4['Date'] = pd.to_datetime(df4['Date'])
df5['Date'] = pd.to_datetime(df5['Date'])
df6['Date'] = pd.to_datetime(df6['Date'])
df7['Date'] = pd.to_datetime(df7['Date'])
df8['Date'] = pd.to_datetime(df8['Date'])
df9['Date'] = pd.to_datetime(df9['Date'])
df10['Date'] = pd.to_datetime(df10['Date'])
df11['Date'] = pd.to_datetime(df11['Date'])

KeyError: 'Date'

## Drop non-essential columns from all DataFrames

In [15]:
data1.columns

Index(['Date', 'vixPrice', 'vixOpen', 'vixHigh', 'vixLow', 'Vol.',
       'vixChange%'],
      dtype='object')

In [16]:
data1=data1.drop('Vol.',axis=1)

In [17]:
data2.columns

Index(['Date', 'niftyPrice', 'niftyOpen', 'niftyHigh', 'niftyLow', 'Vol.',
       'niftyChange %'],
      dtype='object')

In [18]:
data2=data2.drop('Vol.',axis=1)

In [19]:
data4=data4.drop('Vol.',axis=1)

In [20]:
data5=data5.drop('Vol.',axis=1)

In [21]:
data6=data6.drop('Vol.',axis=1)

In [22]:
data7=data7.drop('Vol.',axis=1)

## Reset index direction
So that all data is directed in one direction

we need date to be accending i.e, from 04.03.2008 towards 27.08.2024

In [16]:
data1 = data1.iloc[::-1].reset_index(drop=True)
data1.head(2)

         Date  vixPrice  vixOpen  vixHigh  vixLow Vol. vixChange%
0  03/04/2008     38.08    38.08    51.07   30.59  NaN      6.49%
1  03/05/2008     35.51    38.08    38.76   27.95  NaN     -6.75%

In [18]:
data4 = data4.iloc[::-1].reset_index(drop=True)
data4.head(2)

,Date,CrudePrice,CrudeOpen,CrudeHigh,CrudeLow,Vol.,CrudeChange %
0,03/04/2008,99.52,102.35,103.33,98.87,366.72K,-2.86%
1,03/05/2008,104.52,99.88,104.95,99.55,414.31K,5.02%

In [19]:
data5 = data5.iloc[::-1].reset_index(drop=True)
data5.head(2)

         Date GoldPrice GoldOpen GoldHigh GoldLow     Vol. GoldChange %
0  04-03-2008    966.30   985.70   990.30  958.30  165.21K       -1.82%
1  05-03-2008    988.50   966.90   995.20  960.70  154.17K        2.30%

In [23]:
data6 = data6.iloc[::-1].reset_index(drop=True)
data6.head(2)

         Date  inrPrice  inrOpen  inrHigh  inrLow inrChange %
0  04-08-2008    42.390   42.210    42.55  42.210       0.28%
1  05-08-2008    42.175   42.335    42.46  42.165      -0.51%

In [24]:
data7 = data7.iloc[::-1].reset_index(drop=True)
data7.head(2)

         Date  diPrice  diOpen  diHigh  diLow  Vol. diChange %
0  04-03-2008    73.66   73.74   73.78  73.48   NaN     -0.05%
1  05-03-2008    73.48   73.72   73.95  73.37   NaN     -0.24%

In [32]:
data10 = data10.iloc[::-1].reset_index(drop=True)
data10.head(2)

         Date  Inflation Rate (%)
0  2008-03-01                 7.7
1  2008-04-01                 8.0

## Joining data
##### Merge DataFrames on 'date'

In [24]:
data = pd.merge(df1,df2,df3,df4,df5,df6,df7, on='Date', how='outter')

TypeError: merge() got multiple values for argument 'on'

In [27]:
dfs = [df1, df2, df3, df4, df5, df6, df7]

# Start with the first DataFrame
merged_df = dfs[0]

# Loop through the remaining DataFrames and merge them one by one
for df in dfs[1:]:
    merged_df = pd.merge(merged_df, df, on='Date', how='inner')

# Sort by date if needed
merged_df = merged_df.sort_values(by='Date').reset_index(drop=True)

# Display the result
print(merged_df)

MergeError: Passing 'suffixes' which cause duplicate columns {'Change %_x', 'High_x', 'Price_x', 'Open_x', 'Low_x'} is not allowed.

In [16]:
# Merge DataFrames on 'date' from data1 to data7 as data8 to data11 are not day wise data
niftyvix = pd.merge(df1, df2, on='Date', how='inner')